# Assignment: Getting Started with Pandas

In this assignment, you will practice using the Pandas library by performing some basic operations on a given dataset. You will explore the dataset, clean and manipulate the data, and answer some questions based on the data.

## Dataset

The dataset you will be working with is a collection of information about various video games and their sales. which can be found here. https://www.kaggle.com/datasets/gregorut/videogamesales

## Instructions

1 Import the necessary libraries and load the dataset.<br>
2 Display the first 10 rows of the dataset.<br>
3 Display the shape and basic information about the dataset.<br>
4 Check for missing data and handle it appropriately.<br>
5 Display the top 5 video games by global sale<br>
6 Calculate the total sales in North America for the 'Action' genre.<br>
7 Find the top 3 publishers by global sales.<br>
8 Calculate the average sales in Europe for the 'Shooter' genre.<br>
9 Find the game with the highest sales in Japan in the 'Sports' genre.<br>

# SOLUTIONS

### Answer 1 & 2 - importing library and loading data:

In [27]:
import pandas as pd
import numpy as np

dataset_path = r'vgsales.csv'

data = pd.read_csv(dataset_path)

print(data.head(11))

    Rank                       Name Platform    Year         Genre Publisher
0      1                 Wii Sports      Wii  2006.0        Sports  Nintendo  \
1      2          Super Mario Bros.      NES  1985.0      Platform  Nintendo
2      3             Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3      4          Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4      5   Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5      6                     Tetris       GB  1989.0        Puzzle  Nintendo
6      7      New Super Mario Bros.       DS  2006.0      Platform  Nintendo
7      8                   Wii Play      Wii  2006.0          Misc  Nintendo
8      9  New Super Mario Bros. Wii      Wii  2009.0      Platform  Nintendo
9     10                  Duck Hunt      NES  1984.0       Shooter  Nintendo
10    11                 Nintendogs       DS  2005.0    Simulation  Nintendo

    NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0      41.49     29.02      3.77         8.46         82.74
1      29.08      3.58      6.81         0.77         40.24
2      15.85     12.88      3.79         3.31         35.82
3      15.75     11.01      3.28         2.96         33.00
4      11.27      8.89     10.22         1.00         31.37
5      23.20      2.26      4.22         0.58         30.26
6      11.38      9.23      6.50         2.90         30.01
7      14.03      9.20      2.93         2.85         29.02
8      14.59      7.06      4.70         2.26         28.62
9      26.93      0.63      0.28         0.47         28.31
10      9.07     11.00      1.93         2.75         24.76

### Answer 3: - Shape of data

In [28]:
print(np.shape(data))
print('_'*100)
data_list = data.describe()
print(data_list)

(16598, 11)
____________________________________________________________________________________________________
               Rank          Year      NA_Sales      EU_Sales      JP_Sales
count  16598.000000  16327.000000  16598.000000  16598.000000  16598.000000  \
mean    8300.605254   2006.406443      0.264667      0.146652      0.077782
std     4791.853933      5.828981      0.816683      0.505351      0.309291
min        1.000000   1980.000000      0.000000      0.000000      0.000000
25%     4151.250000   2003.000000      0.000000      0.000000      0.000000
50%     8300.500000   2007.000000      0.080000      0.020000      0.000000
75%    12449.750000   2010.000000      0.240000      0.110000      0.040000
max    16600.000000   2020.000000     41.490000     29.020000     10.220000

        Other_Sales  Global_Sales
count  16598.000000  16598.000000
mean       0.048063      0.537441
std        0.188588      1.555028
min        0.000000      0.010000
25%        0.000000      0.060000
50%        0.010000      0.170000
75%        0.040000      0.470000
max       10.570000     82.740000

### Answer 4: - Checking Missing data and handling them

In [29]:
data.fillna(0)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### Answer 5: - Top 5 five Video game by global sale.

In [30]:
Best_five = data[['Name','Global_Sales']].sort_values('Global_Sales', ascending=False)


print(Best_five.head(6))

                       Name  Global_Sales
0                Wii Sports         82.74
1         Super Mario Bros.         40.24
2            Mario Kart Wii         35.82
3         Wii Sports Resort         33.00
4  Pokemon Red/Pokemon Blue         31.37
5                    Tetris         30.26

### Answer 6: Total Sales in North America for the Action 'Genre'

In [31]:
Select_NA_Sales_Genre = data.loc[data['Genre']=='Action']

NA_Total_Sales = Select_NA_Sales_Genre[['Genre','NA_Sales']].groupby('Genre').sum()

print(NA_Total_Sales)

        NA_Sales
Genre
Action    877.83

### Answer 7: Top 3 Publishers by global_sales

In [32]:
Top_3_Publishers = data[['Publisher','Global_Sales']].groupby('Publisher').sum().sort_values('Global_Sales',ascending=False)

print(Top_3_Publishers.head(4))

                             Global_Sales
Publisher
Nintendo                          1786.56
Electronic Arts                   1110.32
Activision                         727.46
Sony Computer Entertainment        607.50

### Answer 8: Average Sales in Europe in 'Shooter' Genre

In [33]:
shooter_Game = data.loc[data['Genre']=='Shooter']

Avg_sale_Eur = shooter_Game[['Genre','EU_Sales']].groupby('Genre').mean()


print(Avg_sale_Eur)

         EU_Sales
Genre
Shooter  0.239137

### Answer 9 : The Game with the Highest sales in Japan in 'Sport' Genre

In [34]:
filtered_grp = data.loc[data["Genre"]=="Sports"]

Highest_sales_JP = filtered_grp[['Name','Genre','JP_Sales']].groupby('Genre').sum()

print(Highest_sales_JP)

                                                     Name  JP_Sales
Genre
Sports  Wii SportsWii Sports ResortWii FitWii Fit Plus...    135.37